/* Responsive Stylesheet Team 13 */

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.module {
	padding: 0 12px;
}

.news-p { margin: 6px 0; }

.news-p {
	width: 98.8%;
	max-width: 480px;
}

h2 {
	text-align: center;
}

[class*="col-"] {
    width: 100%;
	float: left;
}

@media only screen and (min-width: 480px) {
	.col-s { width: 33.3%; }
    .col-m { width: 66.6%; }
    .col-l { width: 100%; }
	.news-p { margin: 0; }
	h2 { text-align: left; }
}