/* Responsive CSS for Team 13 */

.topNav a {
	display: inline;
}

#menuButton {
	display: none;
}

@media screen and (max-width: 600px) {
	.topNav {
		display: block;
		background: #fff !important;
	}
	
	.topNav a:not(:first-child) {
		display: none;
	}
	
	.resp {
		display: block !important;
	}
	
	.resp a {
		display: block !important;
	}
	
	#menuButton {
		display: block;
	}
	
	#news-previewer .f-25 {
		margin: 10px 0;
	}
	
	h1 {
		font-size: 3.2em;
	}
	
	#logo {
		font-size: 6em;
	}
}