/* Responsive Stylesheet Team 13 */

.wrapper {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.module {
	padding: 0 12px;
}

.news-p {
	width: 97.6%;
	max-width: 480px;
	margin: 6px 0;
}

.news-side {
	padding: 0;
}

#nav-but {
	display: block;
	float:right;
}

h2 {
	text-align: center;
}

#navi ul li {
	display: block;
}

#navi {
	float: none;
	text-align: center;
	background: #eaeaea;
}

[class*="col-"] {
    width: 100%;
	float: left;
	word-wrap: break-word;
}

@media only screen and (min-width: 480px) {
	.col-s { width: 33.3%; }
    .col-m { width: 66.6%; }
    .col-l { width: 100%; }
	.news-p { margin: 0; }
	.news-side { padding: 0 20px; }
	h2 { text-align: left; }
	#navi ul li { display: inline; }
	#nav-but { display: none; }
	#navi {
		float: right;
		text-align: none;
		background: none;
	}
}