/* TEAM 13 CSS (C) Engineering Challenge 1 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 15px;
}

body {
	background: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

.wrapped {
	width: 100%;
	margin-top: 24px;
	padding: 0;
}

/* Main sections */

#top {
	width: 100%;
	min-height: 50px;
	position: fixed;
	top: 0;
	z-index: 100;
}

#bottom {
	width: 100%;
	padding: 80px 0;
	text-align: center;
}

#intro, #pageIntro {
	width: 100%;
	position: relative;
}
	
#intro {
	height: 100%;
	max-height: 1080px;
	background: url("../img/bg2.jpg") fixed;
}

#pageIntro {
	height: 300px;
}

#pageIntro .helper {
	position: absolute;
	bottom: 4px;
	left: 4px;
	color: #fff;
}

#logo, #pageIntro h1 {
	width: 100%;
	position: absolute;
	margin: 0 auto;
	text-align: center;
	padding: 0;
}

#logo {
	top: 40%;
	font-size: 5em;
}

#pageIntro h1 {
	top: 46%;
	font-size: 3.2em;
}

.row, #pageTitle {
	margin: 0 auto;
	max-width: 1280px;
	text-align: justify;
}

.inner-container {
	width: 100%;
	align-content: center;
}

.row, #pageTitle, .inner-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.f-40, .f-60, .f-100, .f-50, .f-75, .f-25 {
	min-width: 420px;
	flex-grow: 1;
	padding: 16px;
}

.f-25 {
	width: 25%;
}

.f-40 {
	width: 40%;
}

.f-50 {
	width: 50%;
}

.f-60 {
	width: 60%;
}

.f-75 {
	width: 75%;
}

.f-100 {
	width: 100%;
}

#news-previewer .f-25 {
	height: 260px;
	min-width: 280px;
	max-width: 410px;
	margin: auto;
	padding: 0;
	background: url("../img/news/1.jpg") center;
	position: relative;
}

.news-d {
	position: absolute;
	bottom: 0;
	width: 95%;
	padding: 10px;
	background: #fff;
	transition: 0.3s;
}

.news-d h3 {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

.news-d h3 a {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
	text-shadow: none;
}

.news-item {
	height: 200px;
}

.helper {
	margin-top: 16px;
	font-size: 0.8em;
}

.profile {
	margin: 0 0 30px 0;
	padding: 0;
}

.profile-img {
	float: left;
	margin: 0;
	width: 24%;
	border-radius: 100%;
}

.drop-img {
	max-width: 100%;
	margin: 0 auto;
	padding: 10px 0;
}

.profile-desc {
	float:right;
	width: 72%;
	padding-right: 30px;
}

/* Nav */

#nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 50px;
	display: flex;
	font-weight: 800;
	font-size: 0.9em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#nav ul li {
	margin: 0;
	padding: 0;
	text-align: center;
	flex-grow: 1;
	height: 50px;
	min-width: 240px;
}

#nav {
	line-height: 50px;
	display: flex;
	text-align: center;
	font-weight: 800;
	font-size: 0.9em;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#nav a {
	flex-grow: 1;
	min-width: 240px;
	width: 100%;
	height: 100%;
}

/* Articles */

.drop-info {
	margin: 20px 0;
}

.drop-info h2 {
	text-align: left;
	margin: 20px 0 20px 12px;
	padding: 0 0 0 44px;
	text-shadow: none;
	background: url("../img/down-arrow.png") no-repeat top left;
	cursor: pointer;
}

.boxed-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.boxed-list li {
	margin: 10px 0;
}

/* Text */

#team h3 {
	text-align: left;
	margin: 0.2em 0;
	font-weight: 600;
}

h1, h2, h3 {
	text-align: left;
	margin: 0;
	font-weight: 600;
}

h1 {
	font-size: 2.6em;
	padding: 0.6em 0;
}

h2 {
	font-size: 1.8em;
	padding: 0.4em 0 0.1em 0;
}

h3 {
	font-size: 1.3em;
	padding: 0.2em 0 0.1em 0;
}

#sidebar h3 {
	text-align: center;
	padding: 0.6em 0 0.1em 0;
}

p, li {
	line-height: 1.6em;
}

li {
	margin: 10px 0;
}

a {
	text-decoration: none;
}

.helper {
	font-size: 0.6rem;
	text-transform: uppercase;
}

.expanse {
	color: #444;
	padding: 0 10px;
}