/* Responsive CSS for Team 13 */

.topNav a {
	display: inline;
}

#menuButton {
	display: none;
}

@media screen and (max-width: 600px) {
	.topNav {
		display: block;
	}
	
	.topNav a:not(:first-child) {
		display: none;
	}
	
	.resp {
		display: block !important;
	}
	
	.resp a {
		display: block !important;
	}
	
	#menuButton {
		display: block;
	}
}